{% load static %}

<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
        <div class="containe mt-3">
            {% block content %}
            {% endblock content %}
        </div>
        <script src='static/font/node_modules/jquery/dist/jquery.min.js'></script><!-- jQuery is required -->
        <link  href='static/font/node_modules/cropper/dist/cropper.min.css' rel="stylesheet">
        <script src='static/font/node_modules/cropper/dist/cropper.min.js'></script>
        <script src='static/font/main.js'></script>
        <link  href='static/font/style.css' rel="stylesheet">
        {% block javascript %}
        {% endblock javascript %}
  </body>
</html>
