{% extends "app/base.html" %}
{% load static %}
{% block content %}
<header>
    <h1 class="headline" style="background:#404040;color:#ffffff">
        <a>画像を選択し、文字に合わせてください</a>
    </h1>
</header>
<div id="alert-box"></div>
<div id="image-box" class="mb-3">
</div>
<form action="" id="image-form">
    {% csrf_token %}
    {{form.as_p}}
</form>
<button class="btn btn-primary mt-3 not-visible" id="confirm-btn">保存</button>
<button><a href="{% url 'app:result' %}" style="text-decoration: none;">結果を見る</a></button>
<h2 align="right"><a href="{% url 'app:index' %}">home</a></h2>
{% endblock content %}
