{% load cloudinary %}
<html>
    <head>
        <title>フォント判別</title>
    </head>
    <body>
        <header>
            <h1 class="headline" style="background:#404040;color:#ffffff">
                <a>フォント判別サイト</a>
            </h1>
        </header>
        <img src='https://res.cloudinary.com/hriscwqpd/image/upload/v1638700312/samples/%E6%98%8E%E6%9C%9D_ylye7x.png' height=200 width=200>
        <img src='https://res.cloudinary.com/hriscwqpd/image/upload/v1638700312/samples/%E3%82%B4%E3%82%B7%E3%83%83%E3%82%AF_kudbyn.png' height=200 width=200>
        <p>このサイトの説明</p>
        <h2><a href="{% url 'app:crop' %}">画像をアップロード</a></h2>
    </body>
</html>
